In [9]:
username = "vaibhav"
password = "1234"

iusername = input("username")
ipassword = input("password")

if username == iusername and password == ipassword:
    print("sucessful")
else:
    print("try again")

username vaibhav
password a

try again

In [28]:
inc = int(input("income"))

if inc >= 30000:
    cds = int(input("cds"))
    if cds >= 500:
        print("Approved")
    else:
        print("Improve cds")
else:
    print("NOT eligible")

income 30000
cds 500

Approved

In [29]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [30]:
for i in range(5):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [31]:
total = 0
for i in range(1, 11):
    total += i
print("Sum:", total)

Sum: 55

In [32]:
word = "Vaibhav"
for char in word:
    print(char)

V
a
i
b
h
a
v

In [33]:
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")
    print("------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
------

In [34]:
numbers = [10, 25, 30, 45, 50]
for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even")

10 is even
30 is even
50 is even

In [35]:
a = "data science"
for b in a:
    print(b)

d
a
t
a

s
c
i
e
n
c
e

In [36]:
for a in range(1,51):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [37]:
password = ""
while password != "pass":
    password = input("password")
print("access granted")

password pass

access granted

In [39]:
a = [1,2,3,4,5,6,7,8,9,10]
for b in a:
    if b == 5:
        
        break
    print(b)

1
2
3
4

In [40]:
a = [1,2,3,4,5,6,7,8,9,10]
for b in a:
    if b == 5:
        
        continue
    print(b)

1
2
3
4
6
7
8
9
10