In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("olympics .csv")
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
top5_sports = df.groupby("Sport")["Medal"].count().sort_values(ascending=False).head(5)
top5_sports

Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Medal, dtype: int64

In [5]:
top5_athletes = df[df["Medal"]=="Gold"].groupby("Athlete")["Medal"].count().sort_values(ascending=False).head(5)
top5_athletes

Athlete
PHELPS, Michael     18
LATYNINA, Larisa     9
NURMI, Paavo         9
LEWIS, Carl          9
SPITZ, Mark          9
Name: Medal, dtype: int64

In [6]:
top5_events_athlete = df.groupby("Event")["Athlete"].nunique().sort_values(ascending=False).head(5)
top5_events_athlete

Event
Football                    1357
Hockey                      1154
Team Competition             975
Eight With Coxswain (8+)     828
Basketball                   814
Name: Athlete, dtype: int64

In [11]:
female_gold = df[(df["Gender"] == "Women") & (df["Medal"] == "Gold")]
top5_female_gold = female_gold.groupby("Sport")["Athlete"].nunique().sort_values(ascending=False).head(5)
top5_female_gold

Sport
Aquatics      385
Athletics     306
Gymnastics    188
Rowing        157
Volleyball    132
Name: Athlete, dtype: int64

In [14]:
def fizz_buzz_sum(target):
    return sum(i for i in range(target) if i%3 == 0 or i%5 == 0)

fizz_buzz_sum(20)

78

In [18]:
def has_duplicates(a):
    return len(a) != len(set(a))
has_duplicates([3,4,1,6])

False

In [21]:
def is_palindrome(a):
    b = str(a).lower()
    return b == b[::-1]
is_palindrome("Radar")

True

In [22]:
a = int(input("enter first number"))
b = int(input("enter second number"))
c = a+b
if c > 0:
    print("positive")
else:
    print("negative")

enter first number -9
enter second number 0

negative

In [23]:
5 // 2

2

In [24]:
2**6

64

In [25]:
10 % 3

1